ARCHS = $(ARCHS_STANDARD_64_BIT)
SDKROOT = macosx
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
COMBINE_HIDPI_IMAGES = YES
MACOSX_DEPLOYMENT_TARGET = 10.8
DEAD_CODE_STRIPPING = YES
ALWAYS_SEARCH_USER_PATHS = NO
GCC_C_LANGUAGE_STANDARD = gnu99
CLANG_ENABLE_OBJC_ARC = YES
ENABLE_STRICT_OBJC_MSGSEND = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES

BUNDLE_VERSION = 0
BUNDLE_VERSION_STRING = 1.0
GIT_SHA1 = 
