<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>map</key>
	<dict>
		<key>contents</key>
		<array>
			<string>The GitUp Map view lets you visualize the entire history of your repository and reflects its changes in real-time.
You can customize what is shown in the Map using the &quot;Show&quot; menu at the bottom of the window.</string>
			<string>GitUp lets you instantaneously view the detailed information and diff of any commit with Quick View.
Select a commit in the Map and then press [Spacebar] to enter Quick View.</string>
			<string>Branch and commit operations that used to be complex with the command line become intuitive, faster and safer with GitUp.
Right-click on a commit in the Map to show a list of available actions and their associated keyboard shortcuts.</string>
			<string>For instance, to edit an incorrect commit message with GitUp, just select the commit in the Map then press [E].
Right-click on a commit to see all editing operations. You can undo / redo your edits at any time with [Cmd-Z] / [Cmd-Shift-Z].</string>
		</array>
		<key>link</key>
		<string>https://github.com/git-up/GitUp/wiki/Using-GitUp-Map-View</string>
	</dict>
	<key>commit</key>
	<dict>
		<key>contents</key>
		<array>
			<string>The GitUp Commit view is where you create new commits in your repository - it has an &quot;Advanced&quot; mode and a &quot;Simple&quot; mode.
The Simple mode uses a unified index and workdir and you can enable it in GitUp preferences.</string>
			<string>The Advanced Commit view has intuitive keyboard shortcuts that let you prepare your commits very fast.
You can stage or unstage selected lines (click on line numbers), or selected files, just by pressing [Return].</string>
		</array>
		<key>link</key>
		<string>https://github.com/git-up/GitUp/wiki/Using-GitUp-Advanced-Commit-View</string>
	</dict>
	<key>stashes</key>
	<dict>
		<key>contents</key>
		<array>
			<string>The GitUp Stashes view lets you browse stashes from your repository and see their diff.
You can also re-apply stashes, delete them or save new ones.</string>
		</array>
		<key>link</key>
		<string>https://github.com/git-up/GitUp/wiki/Using-GitUp-Stashes-View</string>
	</dict>
	<key>config</key>
	<dict>
		<key>contents</key>
		<array>
			<string>The Git Configuration Editor lets your browse and edit all the Git configuration options affecting your repository.
Be sure to only edit options you understand or you may prevent your repository to work correctly.</string>
		</array>
		<key>link</key>
		<string>https://github.com/git-up/GitUp/wiki/Using-GitUp-Configuration-Editor</string>
	</dict>
	<key>quickview</key>
	<dict>
		<key>contents</key>
		<array>
			<string>Quick View shows you detailed information about a specific commit in the repository along with its full diff.
Press [Cmd-Arrow-Up] or [Cmd-Arrow-Down] to select the previous or next commit, or [Spacebar] or [Esc] to exit.</string>
		</array>
		<key>link</key>
		<string>https://github.com/git-up/GitUp/wiki/Using-GitUp-Quick-View</string>
	</dict>
	<key>diff</key>
	<dict>
		<key>contents</key>
		<array>
			<string>The Diff view shows you the diff between the current HEAD of the repository and any other commit.
Press [i] or [Spacebar] to exit.</string>
		</array>
		<key>link</key>
		<string>https://github.com/git-up/GitUp/wiki/Viewing-Diffs-in-GitUp</string>
	</dict>
	<key>search</key>
	<dict>
		<key>contents</key>
		<array>
			<string>GitUp can search branches, tags, users, commit messages, and even commit diffs (must be enabled first in repository settings).
Select a result to jump to it in the Map, or press [Spacebar] to view its diff with Quick View.</string>
		</array>
		<key>link</key>
		<string>https://github.com/git-up/GitUp/wiki/Using-GitUp-Search</string>
	</dict>
	<key>tags</key>
	<dict>
		<key>contents</key>
		<array>
			<string>Select a tag to jump to it in the Map view or press [Spacebar] to enter Quick View for its commit.
If you have lots of tags in your repository, you can use the search field to find a specific tag faster.</string>
		</array>
		<key>link</key>
		<string>https://github.com/git-up/GitUp/wiki/Browsing-Tags-with-GitUp</string>
	</dict>
	<key>ancestors</key>
	<dict>
		<key>contents</key>
		<array>
			<string>See at a glance summaries, authors and dates for the first 1,000 ancestor commits of the current HEAD.
Select an ancestor commit to jump to it in the Map view or press [Spacebar] to enter Quick View.</string>
		</array>
		<key>link</key>
		<string>https://github.com/git-up/GitUp/wiki/Browsing-HEAD-Ancestors-with-GitUp</string>
	</dict>
	<key>snapshots</key>
	<dict>
		<key>contents</key>
		<array>
			<string>Snapshots are like Time Machine for Git: they automatically capture the state of your repository before any significant change.
Select a Snapshot to preview the state of the repository at that time and then click &quot;Restore&quot; to roll back to it.</string>
		</array>
		<key>link</key>
		<string>https://github.com/git-up/GitUp/wiki/Using-GitUp-Snapshots</string>
	</dict>
	<key>reflog</key>
	<dict>
		<key>contents</key>
		<array>
			<string>GitUp shows the reflogs of the repository as a single deduplicated list of all the entries.
Unreachable commits are indicated in darker text and can be made reachable again by clicking on &quot;Restore&quot;.</string>
		</array>
		<key>link</key>
		<string>https://github.com/git-up/GitUp/wiki/Using-GitUp-Reflog</string>
	</dict>
	<key>rewrite</key>
	<dict>
		<key>contents</key>
		<array>
			<string>Your repository has been rolled back to the commit to rewrite, and the files in the working directory are now as they were in that commit.
Add, remove or edit files in the working directory as you would normally do, then click &quot;Continue&quot;.</string>
		</array>
		<key>link</key>
		<string>https://github.com/git-up/GitUp/wiki/Rewriting-Commits-with-GitUp</string>
	</dict>
	<key>split</key>
	<dict>
		<key>contents</key>
		<array>
			<string>You are now splitting an existing commit by moving its changes between an &quot;old&quot; commit and a &quot;new&quot; one.
Changes can only be moved, not removed or added. Use the diff area to review the moved changes, then click &quot;Continue&quot; when done.</string>
		</array>
		<key>link</key>
		<string>https://github.com/git-up/GitUp/wiki/Splitting-Commits-with-GitUp</string>
	</dict>
	<key>resolve</key>
	<dict>
		<key>contents</key>
		<array>
			<string>Resolve the files with merge conflicts by opening them with their usual editors, fixing the conflicts, then marking them as resolved.
Once you have resolved all the conflicts, click &quot;Commit&quot; to complete the editing operation.</string>
		</array>
		<key>link</key>
		<string>https://github.com/git-up/GitUp/wiki/Handling-Merge-Conflicts-in-GitUp</string>
	</dict>
</dict>
</plist>
